
html,body{
    margin: 0;
    padding: 0;
}
.container{
   max-width: 1920px;
}
.navz{
    position: absolute;
    z-index: 1;
    right: 10%;
}
.navz ul{
    list-style: none;
    margin: 20px;
    padding:5px;

}
.navz ul li{
    border: 1px solid blue;
    list-style: none;
    display: inline-block;
    margin:15px;

}
.navz ul li a{

    font-size: 1.5em;
    color: #fff;

}
.vida{
    position: relative;

}
.vida video{

   margin: 0;
    padding: 0;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -o-filter: brightness(40%);
    -ms-filter: brightness(40%);
    overflow: hidden;
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
}
.content .vtxt h3{
    color: #fff;
    text-align: center;
    font-size: 3em;

}
