
html,body{
    margin: 0;
    padding: 0;
}
/*section{
    display: block;
}*/
footer{
    color: #bdbdbd;
    background-color: #514b4b;
    width: 100% ;
}
.container{
   /*max-width: 1990px;*/
}
.navz{
    position: absolute;
    z-index: 1;
    right: 10%;
}
.navz ul{
    list-style: none;
    margin: 20px;
    padding:5px;

}
.navz ul li{

    list-style: none;
    display: inline-block;
    margin:15px;
    padding: 10px;

}
.navz ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;


}
.navz ul li a:hover{
    border-bottom: 1px solid white;
}
.vida{
    position: relative;

}
.vida video{

   margin: 0;
    padding: 0;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -o-filter: brightness(40%);
    -ms-filter: brightness(40%);
    overflow: hidden;
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 20%;
}
.content .vtxt h3,p{
    color: #fff;
    text-align: center;
    font-size: 3em;

}
.featured span{
    color: #db8f04;
}
.firebase-container{
    margin: 10px;
}
.fimg{
    display: block;
    line-height: 30px;
}
.fimg p{
    border-bottom: 2px solid gray;
    font-size: 1em;
    margin-left: 100px;
    display: inline-block;
}
